[app]
environment=local
name=gopherizer
version=1.0.0

[http]
host=0.0.0.0
port=8080
read_timeout=2m
write_timeout=2m
idle_timeout=2m

[http.auth]
secret=change-me

[http.cors]
origins=*
methods=HEAD,GET,POST,PUT,PATCH,DELETE
headers=Content-Type,Content-Length

[database]
host=localhost
port=5432
user=dbadmin
password=dbadmin
dbname=gopherizer
sslmode_disabled=true